Toan Bui
<br>
Kaylyn Han
<br>
Elise Wong A13026941

In [10]:
import csv
import gzip
import pandas as pd
import matplotlib.pyplot as plt
import math
import sklearn.linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from numpy import cov
from scipy.stats import pearsonr
from sklearn.utils import shuffle
import numpy as np
from datetime import date

import json
import ast

In [15]:
def parseDataFromFile(fname):
    for l in open(fname):
        yield ast.literal_eval(l)
    
data = list(parseDataFromFile('beer_50000.json'))
df = pd.DataFrame(data)
df.head()

,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName
0,5.0,47986,10325,Sausa Weizen,Hefeweizen,2.5,2.0,1.5,1.5,1.5,A lot of foam. But a lot.\tIn the smell some b...,"{'isdst': 0, 'mday': 16, 'hour': 20, 'min': 57...",1234817823,NaN,NaN,NaN,NaN,stcules
1,6.2,48213,10325,Red Moon,English Strong Ale,3.0,2.5,3.0,3.0,3.0,"Dark red color, light beige foam, average.\tIn...","{'isdst': 0, 'mday': 1, 'hour': 13, 'min': 44,...",1235915097,NaN,NaN,NaN,NaN,stcules
2,6.5,48215,10325,Black Horse Black Beer,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,"Almost totally black. Beige foam, quite compac...","{'isdst': 0, 'mday': 1, 'hour': 14, 'min': 10,...",1235916604,NaN,NaN,NaN,NaN,stcules
3,5.0,47969,10325,Sausa Pils,German Pilsener,3.5,3.0,3.0,2.5,3.0,"Golden yellow color. White, compact foam, quit...","{'isdst': 0, 'mday': 15, 'hour': 19, 'min': 12...",1234725145,NaN,NaN,NaN,NaN,stcules
4,7.7,64883,1075,Cauldron DIPA,American Double / Imperial IPA,4.0,4.5,4.0,4.0,4.5,"According to the website, the style for the Ca...","{'isdst': 0, 'mday': 30, 'hour': 18, 'min': 53...",1293735206,3.581417e+09,"Jun 16, 1901",-2.163082e+09,Male,johnmichaelsen